h1 {
font-family: 'Arvo', serif;
}


h4 {
font-family: 'Open Sans', sans-serif;
color: white;
}

p {
font-family: 'Open Sans', sans-serif;
opacity: 1;
color: white;
text-align: center;
}

.display-4 {
  color: #E3E8BD;
}

body {
  background-repeat: none;
  background-size: cover;
}

.jumbotron-fluid {
  position: relative;
  height: 180px;
  opacity: .5;
}


.container {
  position: relative;
  top: -9em;
}

.about {
  width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -63em;
}

.about-box{
  width: 300px;
  border: 3px solid #d3b486;
  border-style: double;
  padding: 2px;
  text-align: center;
  position: relative;
  margin: auto;
}

.list-group {
  width: 150px;
  position: relative;
  margin: auto;
}


img {display: block;
    margin: auto;
    width: 40%;}

.work-box{
  width: 205px;
  border: 3px solid #d3b486;
  border-style: double;
  padding: 2px;
  text-align: center;
  position: relative;
  margin: 0px auto;
  float: none;
    }

.rounded-list {
  border-radius: 20px;
  width: 40%;
  position: relative;
  margin: 0px auto;
  float: none;
  background-color: white;
  }

ol {
  position: relative;
  margin: auto 0px;
    }
