h1 {
font-family: 'Arvo', serif;
}


h4 {
font-family: 'Open Sans', sans-serif;
}

p {
font-family: 'Open Sans', sans-serif;
opacity: 1;
color: white;
text-align: center;
}

.display-4 {
  color: #E3E8BD;
}

body {
  background-repeat: none;
  background-size: cover;
}

.jumbotron-fluid {
  position: relative;
  height: 180px;
  opacity: .5;
}


.container {
  position: relative;
  top: -9em;
}
.lead {
  float: right;
}

.ontop {

  position: relative;
  top: -22em;
  padding-left: 12px;
  padding-top: 6px;
}

.text-muted {
  color: blue;
}

.about {
  width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -63em;
}

.about-box{
  width: 300px;
  border: 3px solid #d3b486;
  border-style: double;
  padding: 2px;
  text-align: center;
  position: relative;
  margin: auto;
}

.list-group {
  width: 150px;
  position: relative;
  margin: auto;
}

.work {
float: right;
}

img {display: block;
    margin: auto;
    width: 40%;}

.work-box{
  width: 205px;
  border: 3px solid #d3b486;
  border-style: double;
  padding: 2px;
  text-align: center;
  position: relative;
  margin: auto;
    }
